*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Montserrat', sans-serif;
    color: rgb(38, 26, 41);
}

.header{
    height: 100vh;
    background-image:linear-gradient(rgba(161, 180, 237, 0.48), rgba(133, 155, 239, 0.48)), url('https://scontent-nrt1-1.xx.fbcdn.net/v/t1.6435-9/88169131_2755184177892268_6604154766182318080_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=9OA0xbBDhzcAX9vTm71&_nc_ht=scontent-nrt1-1.xx&oh=00_AfC39rHGRva1BtmDS5_OfDiEUkokwWg5S5SvuUzolvWkQw&oe=643289F4');
    background-size: cover;
    background-position: center;
    padding: 10%;
    position: relative;
    padding-top: 3%;
}

.header-brand{
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
    font-size: 45px;
}

.header-brand__span{
    color: aqua;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 7%;
}

nav ul li{
    display: inline-block;
    margin: 10px 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.header-text{
    /* background-color: grey; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-text h1{
    font-size: 50px;
    margin-top: 10px;
}

.about{
    background-color: #7aa0c2;
    height: 60vh;
}

.about-text{
    color: rgb(145, 216, 255);
    text-align: center;
    width: 50%;
    margin: auto;
}

.about-text h2{
    font-size: 60px;
    padding-top: 6rem;
}

.about-text p{
    /* background: violet; */
    padding-top: 2rem;
    line-height: 1.8rem;
    text-align: center;
}

.about-skills{
    display: flex;
    justify-content: center;
    /* background-color: orange; */
    width: 50%;
    color: white;
    margin: auto;
    padding-top: 3%;
    flex-direction: row;
    align-items: center;
}

.about-skills h3{
    padding-right: 5%;
}

.about-skills__h3--1{
    border-bottom: 3px solid green;
}

.about-skills__h3--2{
    border-bottom: 3px solid blue;
}

.about-skills__h3--3{
    border-bottom: 3px solid red;
}

.portfolio {
    height: 100vh;
    padding: 50px 0;
    text-align: center;
    color: #343a40;
    font-size: 60px;
}

.portfolio__container{
    display: grid;
    padding: 5%;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    margin-top: 50px;
    grid-gap: 40px;
}

.portfolio h2{
    margin-top: 1%;
    font-size: 60px;
}
.portfolio__img{
    border-radius: 10px;
    position: relative;
}

.portfolio__img img{
    object-fit: cover;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    display: block;
}

.portfolio__btn{
    background-color: darkorchid;
    color: #fff;
    height: 84px;
    width: 287px;
    border-radius: 10px;
    text-decoration: none;
    padding: .8% 1%;
}

.contact{
    background-color: rgb(169, 215, 122);
    height: 100vh;
    margin-top: 300px;
    padding: 5%;
}

.contact__row{
    display: flex;
    flex-direction: row;
}

.contact h2{
    font-size: 60px;
}

.contact-left{
    flex-basis: 35%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: aquamarine;
    margin-right: 15px;
    font-size: 25px;
}

.contact-left__icons{
    margin-top: 15px;
}

.contact-left__icons a{
    text-decoration: none;
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    color: #6c757d;
}

.contact-left__icons a:hover{
    color: chartreuse;
    transform: translateY(-5px);
}

.contact__btn{
    display: block;
    margin: 50px auto;
    border: 1px solid rgb(133, 243, 166);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    width: fit-content;
}

.contact__btn:hover{
    background-color: rgb(133, 243, 166);
}

.contact__btn.contact__btn--1{
    display: inline-block;
}

.contact-right{
    flex-basis: 60%;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: whitesmoke;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border: 6px;
}

.contact__btn.contact__btn--2{
    display: inline-block;
    background-color: rgb(169, 215, 122);
    font-size: 18px;
}

.contact__btnjj--2:hover{
    background-color: rgb(133, 243, 166);
    cursor: pointer;
}

footer{
    height: 15vh;
    width: 100%;
    text-align: center;
    padding: 3% 0;
    background-color: #fff;
    font-weight: 300;
}

@media only screen and (max-width: 600px){

}

/* @media only screen and (max-width: 600px){

} */

/* @media only screen and (max-width: 600px){

} */

/* @media only screen and (max-width: 600px){

} */

@media only screen and (max-width: 600px){

}